/** App.scss */
/*------------------------------------------*/
$customColor: dodgerblue;
$hotPink: #e40763;
$buttonActiveBoxShadow: 1px 1px 8px rgba(77, 51, 51, 0.26);
/*------------------------------------------*/
.AppContainer {
	max-width: 30rem;
	align-items: center;

	/* inner-container */
	html,
	body {
		position: relative;
		width: 100%;
		height: 100%;
	}

	body {
		color: #333;
		margin: 0;
		padding: 2rem;
		background: #f3f3f3;
	}

	ul {
		list-style-type: none;
	}

	.span-align {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}

	.indexColor {
		color: dodgerblue;
	}

	.ContactCardPad {
		margin-left: 10px;
	}

	button {
		font: inherit;
		outline: none;
		border: none;
		background: #cf0056;
		padding: 0.5rem 1rem;
		color: white;
		border-radius: 5px;
		box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.26);
		cursor: pointer;
	}

	button:hover {
		opacity: 0.85;
	}

	button:active {
		background: $hotPink;
		border-color: $hotPink;
		box-shadow: $buttonActiveBoxShadow;
		opacity: 0.45;
	}

	.addContactBtn {
		margin-top: 10px;
	}

	.addContactColor {
		color: orangered;
	}

	.chg-name-btn {
		background: $customColor;
	}


}


